* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav img {
    max-width: 70px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav {
    justify-content: flex-end;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    font-weight: 700;
}
.carousel img {
    max-height: 80vh;
}

section {
    padding-top: 1px;
}

footer {
    background-color: #000000;
    color: #ffffff;
}